
.page-arrangementer,
.node-type-ding-event {

	.layout-wrapper {
		padding-top: 60px;
	}

	.view-content.row h3 {
		color: #01032E;
		font-family: Rubik-Regular;
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	
	@include grid-view-mode();
}
