.front.page-culture-frontpage .content-wrapper .container {
  .content-container {
    @extend .no-gutters;

    @include media-breakpoint-up(lg) {
      @include restore-gutters;
    }
  }

  .front-slider-container {

    .front-slider-wrapper {
      padding: 0;
    }

    @include media-breakpoint-up(lg) {
      .front-slider-wrapper {
        padding-left : 20px;
        padding-right: 20px;
      }
    }
  }

  .primary-content-wrapper,
  .secondary-content-wrapper {
    width: 100%;
  }

  .row.content-container .primary-content-wrapper {
    padding-left : 10px;
    padding-right: 10px;

    @include media-breakpoint-up(md) {
      padding-left : 20px;
      padding-right: 20px;
    }

    @include media-breakpoint-up(lg) {
      // padding-left : 0px;
      padding-right   : 10px;
    }
  }

  .row.content-container .secondary-content-wrapper {
    padding-left : 10px;
    padding-right: 10px;

    @include media-breakpoint-up(md) {
      padding-left : 20px;
      padding-right: 20px;
    }

    @include media-breakpoint-up(lg) {
      padding-left    : 0px;
      // padding-right: 0px;
    }
  }

  .pane-campaign .ding-campaign-wrapper {
    margin          : 70px auto 30px;
    width           : calc(100% - 20px);
    background-color: #FFFFFF;
    box-shadow      : 0 10px 35px 0 rgba(9, 0, 38, 0.1);
    max-width       : 352px;

    @include media-breakpoint-up(md) {
      width    : calc(100% - 40px);
      max-width: 100%;
    }

    @include media-breakpoint-up(lg) {
      width : 100%;
      margin: 70px 0 30px;
    }

    .node-ding-campaign {
      padding      : 24px 20px;
      border-bottom: 1px solid #F0F0F2;

      &:last-child {
        border-bottom: none;
      }

      h2,
      .page-title {
        color      : #000119;
        font-family: 'Rubik-Regular';
        font-size  : 15px;
        line-height: 18px;

        a {
          color          : #000119;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .content {
        width     : 25px;
        height    : 8px;
        background: transparent url(../images/nav-arrow-right.png) no-repeat left center;

        &>* {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .front #page .row.content-container {
    //@include restore-gutters;
    padding: 0 28.5px;
  }
}