header.site-header {
	nav.main-menu-wrapper.navbar {
		width: 100%;
		min-height: 140px;
		// max-width: 1440px;
		margin: 0 auto;

		.pane-search-form form {
			@include search();
		}
		

		.logo .navbar-brand {
			margin: 0;
		}

		ul.main-menu.navbar-nav {
			margin-left: 10px;
		
			li {
				margin-left: 40px;
				text-align: center;
				list-style-type: none;
				text-transform: uppercase;
				padding: 0;
				position: relative;

				// &.active {
				// 	content: '';
				// 	position: absolute;
				// }
				
		
				a {
					color: map-get($theme-colors, dark);
					font-family: Rubik-Regular;
					font-size: map-get($text-size, small);

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.not-front header.site-header {
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);

	nav.main-menu-wrapper.navbar ul.main-menu.navbar-nav li {
		position: relative;

		&.active:after {
			display: none;
			content: '';
			position: absolute;
			width: 40px;
			height: 5px;
			left: calc(50% - 20px);
			bottom: -58px;
			background-color: #1E0195;
		
			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}
}