#ding-library-front {
  margin-top: 70px;
  padding   : 0;

  .secondary-content {

    .sub-menu-title a,
    .sub-menu-wrapper .pane-title a,
    .panel-pane-inner h2.pane-title a {
      text-transform: uppercase;
      color         :map-get($theme-colors, blue);
      font-family   : 'Rubik-Regular';
      font-size     : 16px;
      letter-spacing: 0.6px;

      &,
      &:hover {
        text-decoration: none;
      }
    }

    .pane-menu-block-3.sub-menu-wrapper {
      display: none;
    }

    .menu {
      padding        : 0;
      margin         : 30px 0 0 0;
      list-style-type: none;

      li {
        list-style-type: none;
        margin         : 0 0 15px;
        padding        : 0;

        a {
          color      :map-get($theme-colors, filter-text);
          font-family: 'Rubik-Regular';
          font-size  : 14px;

          &,
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .primary-content {
    .field-type-image {
      margin-bottom: 20px;

      img {
        max-width: 100%;
      }
    }

    .pane-entity-field {
      color      :map-get($theme-colors, dark);
      font-family: 'SourceSansPro-Regular';
      font-size  : 14px;
    }

    .pane-node-title {
      margin-top: 70px;

      h2 {
        color        :map-get($theme-colors, dark);
        font-family  : 'SourceSansPro-Bold';
        font-size    : 42px;
        line-height  : 42px;
        margin       : 0;
        margin-bottom: 17px;

        @include media-breakpoint-up(md) {
          font-size: 57px;
        }
      }
    }

    .ding-library-address .library-address {
      @include clearfix();
      margin-bottom: 40px;

      & .library-address-street,
      & .library-address-city-wrapper {
        color      :map-get($theme-colors, dark);
        font-family: "SourceSansPro-Bold";
        font-size  : 16px;
        line-height: 20px;
        float      : left;
      }

      & .library-address-city-wrapper {
        @include clearfix();

        & .library-address-postal-code,
        & .library-address-city {
          float: left;
        }
      }

      .library-address-street:after {
        content: ',\00a0 ';
      }

      .library-address-postal-code:after {
        content: '\00a0 ';
      }
    }

    .ding-library-contact {
      margin-bottom: 40px;

      .library-contact-phone-label,
      .library-contact-email-label {
        display: none;
      }

      .library-contact-phone,
      .library-contact-phone a {
        color          :map-get($theme-colors, blue);
        font-family    : 'Rubik-Regular';
        font-size      : 18px;
        font-weight    : 300;
        letter-spacing : 0.45px;
        line-height    : 22px;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      .library-contact>.library-contact-phone {
        margin-bottom: 15px;
      }
    }

    .pane-weekly-opening-hours {
      margin-bottom: 70px;
    }
  }

  .attachments-wrapper {
    .pane-title {
      @extend .container;

      color         :map-get($theme-colors, filter-text);
      font-family   : 'Rubik-Regular';
      font-size     : 16px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      margin-bottom : 30px;
    }

    .view-ding-event,
    .view-ding-news {
      position: relative;

      .more-link {
        position: absolute;
        top     : -50px;
        right   : 28px;

        a {
          color          :map-get($theme-colors, blue);
          font-family    : 'Rubik-Regular';
          font-size      : 16px;
          letter-spacing : 0.6px;
          line-height    : 19px;
          text-transform : uppercase;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          &:after {
            content: '';
            width: 25px;
            height: 8px;
            margin-left: 30px;
            padding: 7px 0;
            display: inline-block;
            background: url("../images/blue-arrow-right.png") no-repeat center center;
          }
        }
      }
    }

    .card {
      border       : none;
      border-radius: 2px;
      margin-bottom: 57px;

      .node-ding-event,
      .node-ding-news {
        height    : 100%;
        box-shadow: map-get($shadows, level-2);

        @include media-breakpoint-up(lg) {
          transition: box-shadow 0.2s linear;
          box-shadow: none;

          &:hover {
            box-shadow: map-get($shadows, level-2);
          }
        }
      }

      a,
      a:active,
      a:visited,
      a:hover,
      a:focus {
        color          :map-get($theme-colors, dark);
        text-decoration: none;
      }

      .inner {
        position: relative;
      }

      .price-tag {
        position        : absolute;
        top             : 10px;
        right           : -5px;
        background-color:map-get($theme-colors, green);
        box-shadow      : -4px 4px 10px 0 rgba(0, 0, 0, 0.1);
        color           : white;
        width           : 90px;
        font-family     : 'Rubik-Medium';
        font-size       : 12px;
        letter-spacing  : 0.4px;
        text-transform  : uppercase;
        text-align      : center;
        padding         : 9px 20px;

        &:after {
          content       : '';
          position      : absolute;
          right         : 0;
          bottom        : -5px;
          height        : 0;
          width         : 0;
          display       : block;
          border-top    : 5px solid map-get($theme-colors, dark-green);
          border-right  : 5px solid transparent;
          -moz-transform: scale(.9999);
        }
      }

      .image-wrapper {
        position: relative;
        overflow: hidden;
        height  : 206px;

        img {
          top     : calc(50% - 103px);
          position: absolute;
        }
      }

      .node-ding-news {
        .card-body {
          padding: 0;
        }

        .card-text {
          padding: 30px;
        }

        .category-and-submitted {
          @include clearfix();

          &>.info-dash {
            display: none;
          }

          .news-category {
            @include clearfix();
            color         :map-get($theme-colors, active-gray);
            font-size     : 10px;
            font-weight   : bold;
            text-transform: uppercase;
            position      : relative;
            padding       : 0 0 20px 20px;
            letter-spacing: 1px;

            .field,
            .fields-item,
            .fild-item {
              color         :map-get($theme-colors, active-gray);
              font-size     : 10px;
              font-weight   : bold;
              text-transform: uppercase;
              padding       : 0;
              letter-spacing: 1px;
            }

            &:after {
              position  : absolute;
              top       : 1px;
              left      : 0;
              height    : 13px;
              width     : 10px;
              background: url('../images/tag.png') no-repeat center center;
            }

            &>div {
              float: left;
            }
          }

          .submitted {
            color      :map-get($theme-colors, dark);
            font-family: 'SourceSansPro-Bold';
            font-size  : 12px;
            padding-top: 15px;
          }
        }

        .card-body {
          color      :map-get($theme-colors, dark);
          font-family: "SourceSansPro-Regular";
          padding    : 0;

          .image-wrapper {
            position: relative;
            height  : 206px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .news-text {
            padding: 30px;

            h3 {
              color      :map-get($theme-colors, dark);
              padding-top: 15px;
              font-family: "SourceSansPro-Bold";
              font-size  : 21px;
            }

            h3~.field {
              color      :map-get($theme-colors, details-gray);
              font-family: "SourceSansPro-Bold";
              font-size  : 14px;
            }
          }
        }

      }

      .card-body {
        color      :map-get($theme-colors, dark);
        font-family: "SourceSansPro-Regular";
        padding    : 30px;

        .info-top {
          color         :map-get($theme-colors, active-gray);
          font-size     : 10px;
          font-family   : "SourceSansPro-Bold";
          text-transform: uppercase;
          position      : relative;
          padding-bottom: 20px;
          letter-spacing: 1px;

          i.tag-icon {
            position  : absolute;
            top       : 1px;
            height    : 13px;
            width     : 10px;
            background: url('../images/tag.png') no-repeat center center;
          }

          .field {
            padding-left: 20px;
          }
        }

        .date {
          font-size     : 12px;
          font-family   : "SourceSansPro-Bold";
          padding-bottom: 15px;
        }

        .card-title {
          font-size     : 21px;
          font-weight   : 900;
          padding-bottom: 8px;
          margin        : 0;
          font-family   : "SourceSansPro-Bold";
          text-transform: none;
        }

        .card-description {
          color         :map-get($theme-colors, details-gray);
          font-size     : 14px;
          font-family   : "SourceSansPro-Bold";
          padding-bottom: 23px;
          // @include elipsis()
        }

        .library,
        .date-time {
          font-size     : 12px;
          font-family   : "SourceSansPro-Bold";
          padding-bottom: 10px;
        }

        .price {
          color         :map-get($theme-colors, green);
          font-family   : "Rubik-Medium";
          font-size     : 12px;
          text-transform: uppercase;
        }
      }

      .card-img-top {
        border-radius   : 2px 2px 0 0;
        background-color: map-get($theme-colors, light2-gray);
      }
    }
  }
}

#ding-library-about {
  .adaptive-image {
    width: 100%;
  }
}

.node-type-ding-library #page .content-inner #ding-library-front {
  padding: 0;
}