.page-libraries,
.node-type-ding-library {
  .layout-wrapper {
    padding-left: 10px;
    padding-right: 10px;

    @include media-breakpoint-up(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.page-libraries #ding-library-page,
.node-type-ding-page .content-wrapper .pane-content,
.page-taxonomy.page-taxonomy-term .content-wrapper .pane-content {
  margin-top: 40px;

  @include media-breakpoint-up(lg) {
    margin-top: 70px;
  }

  .contextual-links-region.sub-menu-wrapper,
   .panel-pane.sub-menu-wrapper {
    .pane-content {
      margin: 0;
    }

    h2.sub-menu-title {
      a {
        color: map-get($theme-colors, blue);
        font-family: 'Rubik-Regular';
        font-size: map-get($text-size, regular);
        letter-spacing: 0.6px;
        text-transform: uppercase;
      }
    }

    ul.menu {
      margin: 30px 0 0;

      li {
        margin-bottom: 10px;

        a {
          position: relative;
          color: map-get($theme-colors, filter-text);
          font-family: 'Rubik-Regular';
          font-size: map-get($text-size, small);
          letter-spacing: 0.3px;

          &:hover {
            text-decoration: none;
          }

          &.active-trail {
            border-left: 2px solid map-get($theme-colors, blue);
            padding-left: 10px;

            a {
              color: map-get($theme-colors, blue);
            }
          }
        }
      }
    }
  }

  .primary-content,
  .secondary-content {
    h2.pane-title {
      color: map-get($theme-colors, filter-text);
      font-family: 'Rubik-Regular';
      font-size: map-get($text-size, regular);
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

    ul,
    ul li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .secondary-content {
    .views-exposed-form {
      display: none;
    }

    ul.sub-menu {
      margin-top: 32px;

      li {
        margin-bottom: 10px;

        a {
          position: relative;
          color: map-get($theme-colors, filter-text);
          font-family: 'Rubik-Regular';
          font-size: map-get($text-size, small);
          letter-spacing: 0.3px;

          &:hover {
            text-decoration: none;
          }

          &:before {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid map-get($theme-colors, blue);
            border-radius: 2px;
            box-shadow: map-get($shadows, level-2);
            width: 40px;
            height: 40px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 20px;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: calc(50% - 9px);
            left: 11px;
            width: 18px;
            height: 11px;
            border: solid white;
            border-width: 1px 1px 0 0;
            transform: rotate(133deg);
            box-shadow: none;
          }

          &.active:before {
            background-color: map-get($theme-colors, blue);
          }
        }
      }
    }
  }

  ul.library-list {
    margin-top: 32px;
  }

  .library-item-wrapper {
    margin-bottom: 50px;

    h2.page-title {
      margin-bottom: 12px;
    }

    h2.page-title>a {
      color: map-get($theme-colors, dark);
      font-family: 'SourceSansPro-Bold';
      font-size: 42px;
      text-decoration: none;

      @include media-breakpoint-up(md) {
        font-size: map-get($text-size, massive);
      }

      &:hover {
        text-decoration: none;
      }
    }

    .field .field-label,
    .field.field-name-field-ding-library-title-image,
    .field.field-name-field-ding-library-links {
      display: none;
    }

    .field-name-field-ding-library-addresse {
      @include clearfix();
      padding-right: 80px;

      .field-items,
      .field-item,
      .street-block {
        @include clearfix();
      }

      .street-block,
      .street-block>div,
      .locality-block,
      .country {
        float: left;
        margin-right: 5px;
        color: map-get($theme-colors, dark);
        font-family: 'SourceSansPro-Regular';
        font-size: map-get($text-size, regular);
        font-weight: 600;
      }

      .street-block {
        margin: 0;
      }
    }

    .field-name-field-ding-library-phone-number {
      margin-bottom: 15px;
    }

    .field-name-field-ding-library-addresse,
    .field-name-field-ding-library-mail {
      margin-bottom: 40px;
    }

    .field-name-field-ding-library-phone-number,
    .field-name-field-ding-library-mail a {
      color: map-get($theme-colors, blue);
      font-family: 'Rubik-Regular';
      font-size: map-get($text-size, medium);
      font-weight: 300;
      letter-spacing: 0.45px;
      line-height: 22px;

      &:hover {
        text-decoration: none;
      }
    }

    .order-redirect {
      display: block;
      margin-bottom: 40px;

      a {
        position: relative;
        color: map-get($theme-colors, filter-text);
        font-family: 'Rubik-Light';
        font-size: 20px;
        letter-spacing: 0.46px;
        padding-right: 50px;

        &:hover {
          text-decoration: none;
        }

        &:after {
          content: '';
          width: 25px;
          height: 8px;
          position: absolute;
          right: 0;
          float: right;
          top: calc(50% - 3px);
          background: url('../images/nav-arrow-right.png') no-repeat right center;

          @include media-breakpoint-up(sm) {
            
          }
        }
      }
    }

    .libraries {
      position: relative;

      .maps-link {
        position: absolute;
        right: 0;
        color: map-get($theme-colors, dark);
        font-family: "SourceSansPro-Regular";
        font-size: map-get($text-size, regular);
        font-weight: 600;
        top:-1px;


        @include media-breakpoint-up(xl) {
          top: unset;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#page #ding-library-page {
  padding: 0;
}
