.news-details-wrapper {
  max-width: 726px;
  margin   : 70px auto 0;

  .field-slideshow,
  img {
    width: 100%;
    height: 100%;
  }

  .ding-news-inner {
    padding-left: 10px;
    @include media-breakpoint-up(md) {
      padding-left  : 0;
    }
  }

  .ding-news-right {
    .category-tag {
      @include clearfix();
      color         :map-get($theme-colors, active-gray);
      font-size     : map-get($text-size, micro);
      font-weight   : bold;
      position      : relative;
      margin-top    : 30px;
      text-transform: uppercase;
      padding       : 0 0 20px 20px;
      letter-spacing: 1px;

      &:after {
        position  : absolute;
        top       : 1px;
        left      : 0;
        height    : 13px;
        width     : 10px;
        background: url('../images/tag.png') no-repeat center center;
      }

      &>div {
        float: left;
      }

      a {
        text-decoration: none;
        color          :map-get($theme-colors, active-gray);
      }
    }

    .category-info {
      @include clearfix();
      color      :map-get($theme-colors, dark);
      font-family: 'SourceSansPro-Bold';
      font-size  : map-get($text-size, mini);
      margin-top : 20px;

      .author,
      .created {
        float: left;
      }
    }

    h1 {
      color      :map-get($theme-colors, dark);
      font-family: "SourceSansPro-Bold";
      font-size  : map-get($text-size, massive);
      line-height: 62px;
      margin     : 0 0 10px;
    }

    .category-links {
      display: none;
    }

    .category-text {
      color      :map-get($theme-colors, details-gray);
      font-family: "SourceSansPro-Bold";
      font-size  : map-get($text-size, small);
    }

    .field-label-above {
      @include clearfix();
      color         :map-get($theme-colors, filter-text);
      font-family   : 'Rubik-Regular';
      font-size     : map-get($text-size, small);
      letter-spacing: 0.3px;
      margin-top    : 30px;
      border-top    : 1px solid map-get($theme-colors, light2-gray);
      border-bottom : 1px solid map-get($theme-colors, light2-gray);
      padding-top   : 16px;
      padding-bottom: 16px;

      .field-label,
      .field-item {
        float      : left;
        font-weight: normal;
      }

      .field-item {
        color       :map-get($theme-colors, blue);
        padding-left: 10px;

        @include media-breakpoint-up(lg) {
          padding-left: 20px;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.node-type-ding-news .view.view-ding-related-content .view-content {
  @extend .row;
}

.panel-pane.pane-ding-related-content-news-events {

  .pane-title {
    color:map-get($theme-colors, dark);
    font-family: 'Rubik-Regular';
    font-size: map-get($text-size, regular);
    letter-spacing: 0.6px;
    line-height: 19px;
    text-transform: uppercase;

    @extend .col-md-12;
    margin-bottom: 35px;
  }

  .card.news-item {
    border       : none;
    border-radius: 2px;
    margin-bottom: 57px;
    box-shadow   : map-get($shadows, level-2);
    height       : calc(100% - 57px);

    &:hover .card-body .image-wrapper img {
      transform: scale(1.5);
    }

    &:hover .card-body .card-text .title {
      color: map-get($theme-colors, blue);
    }

      // @include media-breakpoint-up(lg) {
      //   transition : box-shadow 0.2s linear;
      //   box-shadow: none;
      //   &:hover {
      //     box-shadow: map-get($shadows, level-2);
      //   }
      // }

    a {
      text-decoration: none;
    }

    .category-and-submitted {
      @include clearfix();

      &>.info-dash {
        display: none;
      }

      .news-category {
        @include clearfix();
        color         :map-get($theme-colors, active-gray);
        font-size     : map-get($text-size, micro);
        font-weight   : bold;
        text-transform: uppercase;
        position      : relative;
        padding       : 0 0 20px 20px;
        letter-spacing: 1px;

        .field,
        .fields-item,
        .fild-item {
          color         :map-get($theme-colors, active-gray);
          font-size     : map-get($text-size, micro);
          font-weight   : bold;
          text-transform: uppercase;
          padding       : 0;
          letter-spacing: 1px;
        }

        &:after {
          position  : absolute;
          top       : 1px;
          left      : 0;
          height    : 13px;
          width     : 10px;
          background: url('../images/tag.png') no-repeat center center;
        }

        &>div {
          float: left;
        }
      }

      .submitted {
        color      :map-get($theme-colors, dark);
        font-family: 'SourceSansPro-Bold';
        font-size  : map-get($text-size, mini);
        padding-top: 15px;
      }
    }

    .card-body {
      color      :map-get($theme-colors, dark);
      font-family: "SourceSansPro-Regular";
      padding    : 0;

      .image-wrapper {
        position: relative;
        height  : 206px;
        overflow: hidden;

        img {
          width: 100%;
          transition: transform 0.5s ease;
        }
      }

      .news-text {
        padding: 30px;

        h3 {
          color      :map-get($theme-colors, dark);
          padding-top: 15px;
          font-family: "SourceSansPro-Bold";
          font-size  : map-get($text-size, medium-large);
          transition: color 0.5s ease;
        }

        h3~.field {
          color      :map-get($theme-colors, details-gray);
          font-family: "SourceSansPro-Bold";
          font-size  : map-get($text-size, small);
        }
      }
    }
  }
}

.node-type-ding-news {
  .panel-pane.pane-ding-related-content-news-events {
    @extend .container;
  }
}
