.page-nyheder {

    .layout-wrapper {
        margin-top: 70px;
    }

    .secondary-content {
        .pane-menu-title,
        .pane-block form {
            display: none;
        }

        .pane-taxonomy-menu {
            .pane-title {
                color: #01032E;
                font-family: 'Rubik-Regular';
                font-size: 16px;
                letter-spacing: 0.6px;
                text-transform: uppercase;
            }

            .sub-menu {
                list-style: none;
                margin: 32px 0 0;

                li {
                    list-style: none;
                    padding: 0;
                    margin: 10px 0 0;

                    a {
                      position: relative;
                      color: #01032E;
                      font-family: 'Rubik-Regular';
                      font-size: 14px;
                      letter-spacing: 0.3px;
            
                      &:hover {
                        text-decoration: none;
                      }
            
                      &:before {
                        content: '';
                        -webkit-appearance: none;
                        background-color: transparent;
                        border: 1px solid map-get($theme-colors, blue);
                        border-radius: 2px;
                        box-shadow: map-get($shadows, level-2);
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        position: relative;
                        vertical-align: middle;
                        cursor: pointer;
                        margin-right: 20px;
                      }
            
                      &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 3px;
                        left: 11px;
                        width: 18px;
                        height: 11px;
                        border: solid white;
                        border-width: 1px 1px 0 0;
                        transform: rotate(133deg);
                        box-shadow: none;
                      }
            
                      &.active:before {
                        background-color: map-get($theme-colors, blue);
                      }
                    }
                }
            }
        }
    }

    .primary-content {
        .pane-title {
            color: #01032E;
            font-family: 'Rubik-Regular';
            font-size: 16px;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .view-ding-news {
            padding: 0;
        }

        .pane-content .card.news-item {
            border: none;
            border-radius: 2px;
            margin-bottom: 57px;
            box-shadow: 0 10px 35px 0 rgba(9, 0, 38, 0.1);

            .category-and-submitted {
                @include clearfix();

                & > .info-dash {
                    display: none;
                }

                .news-category {
                    @include clearfix();

                    & > div {
                        float: left;
                    }
                }
            }

            .card-body {
                color: #000119;
                font-family: "SourceSansPro-Regular";
                padding: 30px;
            }
        }

    }
}