
ul li.leaf {
  list-style-image: none;
}

.form-checkboxes ul {
  list-style-image: none;
  list-style: none;
  padding: 0;

  li {
    list-style: none;
  }
}

.kultur-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}